body {
    overflow-x: hidden;
    
}
.main {
    position:relative;
    margin: auto;
    width: 1240px;
    height: 785px;
    left: 15px;
    top: 95px;


.sidebar {
    margin-left: 850px;
    }

.call-to-action {
    margin-top: 115px;

}
.figure {

    &__vector-red {
        position: absolute;
        height: 47,18px;
        width: 48,96px;
        left: 745px;
        top: 578px;
        
    }    
    // &__vector-gr {
    //     height: 34.922882080078125px;
    //     width: 36.255348205566406px;
    //     left: 822.7802734375px;
    //     top: 152.879150390625px;
    //     border-radius: 0px;
        
        
    // }

    }
    
}
.about-page {
   
        position: absolute;
        width: 845px;
        height: 414px;
        // background-color: aquamarine;

    

    
    &__title {
        font-family: Ribik, sans-serif;
        font-size: 40px;
        font-weight: 700;
        font-style: bold;
        line-height: 41px;
        color: #000000;

    }

    &__text {
        font-family: Rubik, sans-serif;
        font-size: 24px;
        font-weight: 400;
        font-style: normal;
        line-height: 34px;
        // padding-top: 60px;
        color: #000000;
    }

    

}

.call-to-action {
    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #e3ecff;
      padding: 70px 40px;
      border-radius: 15px;
  
      &__text,
      &__money,
      &__other-money,
      &__btn {
        font-family: "Rubik", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
        color: #000000;
      }
  
      &__money {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 35%;
        font-size: 36px;
        line-height: 43px;
      }
  
      &__other-money {
        font-size: 24px;
        line-height: 28px;
        color: rgba(97, 97, 97, 0.59);
      }
  
      &__btn {
        font-weight: 500;
        font-size: 36px;
        line-height: 43px;
        color: #ffffff;
        background: #dc9696;
        border-radius: 5px;
        text-decoration: none;
        padding: 18px 22px;
      }
    }
  }
  
  .sidebar {
    padding: 52px;
    background-color: #ffefab;
    border-radius: 15px;
    max-width: 400px;
    height: 497px;
    height: 367px;
    margin-right: 198px;
    margin-left: auto;
  
    &__inner {
      &__menu {
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        &__item {
          // list-style: none;
  
          &__link {
            font-family: "Rubik", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            text-transform: uppercase;
            text-decoration: none;
            color: #000000;
          }
        }
        &__item + &__item {
          margin-bottom: 23px;
        }
      }
    }
  }